.news__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 576px;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
}

.news__card-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.news__card-date {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-left: 24px;
  margin-top: 20px;
}

.news__card-title {
  font-family: "RobotoSlab-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin-left: 24px;
  margin-top: 15px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__card-description {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin-bottom: 10px;
  margin-left: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__card-source {
  font-family: "RobotoSlab-Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  margin-left: 24px;
  margin-top: auto;
}

.news__card-bookmark {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
}

.news__card-bookmark img {
  width: 24px;
  height: 24px;
}

.news__card-bookmark.bookmarked {
  background-color: #ffcc00;
}

@media (max-width: 1311px) {
  .news__card {
    width: calc((100% / 3) - 16px);
    height: 576px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .news__card {
    width: 190px;
    height: 385px;
    margin-bottom: 16px;
    padding: 10px;
  }

  .news__card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .news__card-date {
    font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #b6bcbf;
    margin-left: 12px;
    margin-top: 10px;
  }

  .news__card-title {
    font-family: "RobotoSlab-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1a1b22;
    margin-left: 12px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .news__card-description {
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1a1b22;
    margin-bottom: 8px;
    margin-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .news__card-source {
    font-family: "RobotoSlab-Regular", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #b6bcbf;
    margin-left: 12px;
    margin-top: auto;
  }

  .news__card-bookmark {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
  }

  .news__card-bookmark img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .news__card {
    width: 288px;
    height: 440px;
    margin-bottom: 10px;
    padding: 15px;
  }

  .news__card-title {
    font-size: 22px;
    line-height: 28px;
  }

  .news__card-description {
    font-size: 14px;
    line-height: 20px;
  }

  .read-more-button {
    width: 100%;
    margin: 15px 0;
  }
}

.news__card-bookmark img {
  width: 20px;
  height: 20px;
}

@media (max-width: 352px) {
  .news__card {
    width: 280px;
    height: 360px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .news__card-image {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .news__card-date {
    font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #b6bcbf;
    margin-left: 8px;
    margin-top: 8px;
  }

  .news__card-title {
    font-family: "RobotoSlab-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1a1b22;
    margin-left: 8px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .news__card-description {
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1a1b22;
    margin-bottom: 8px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .news__card-source {
    font-family: "RobotoSlab-Regular", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #b6bcbf;
    margin-left: 8px;
    margin-top: auto;
  }

  .news__card-bookmark {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
  }

  .news__card-bookmark img {
    width: 16px;
    height: 16px;
  }
}
