.ticker__container {
  width: 700px;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
  font-family: "Roboto-Regular";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: white;
  padding: 10px 0;
}

.ticker__list {
  display: inline-block;
  animation: ticker 1500s linear infinite;
  animation-delay: -750s;
}

.ticker__item {
  display: inline-block;
  padding: 0 20px;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .ticker__container {
    width: 350px;
    font-size: 16px;
    line-height: 20px;
    padding: 40px 0;
  }

  .ticker__item {
    padding: 0 10px;
  }

  .ticker__list {
    animation: ticker 1000s linear infinite;
    animation-delay: -500s;
  }
}

@media (max-width: 480px) {
  .ticker__container {
    width: 350px;
    font-size: 14px;
    line-height: 18px;
    padding: 45px 0;
  }

  .ticker__item {
    padding: 0 8px;
  }

  .ticker__list {
    animation: ticker 1200s linear infinite;
    animation-delay: -600s;
  }
}
